/* input{
    display: block;
}

fin Ex 1 */


/* Ex 2 */
/* legend{
    font-weight: 700;
    border: 2px dashed rgb(224, 87, 33);
    margin: 1.225%;
    padding: 10px;
    background-color: rgba(224, 87, 33, 0.2);
}

input{
    margin: 5px;
    padding: 5px 5px;
    border: 2px solid green;
    background-color: rgb(183, 248, 183);
}

label{
    display: block;
    width: 350px;
    text-align: right;
}

fieldset{
    border: 10px dotted purple;
    width: 800px;
    margin: 0 auto;
}

#submit{
    width: 380px;
    height: 87px;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase ;
    background-color: rgb(0, 255, 34);
}

.margintop{
    margin-top: 10px;
}

.col{
    float: left;
    width: 350px;
}

.clear{
    clear: both;
}

.requis{
    background-color: rgb(223, 223, 255);
    border: 2px solid blue;
}

.requisbg{
    background-color: rgba(187, 219, 255, 0.5);
}

.nonrequisbg{
    background-color: rgba(216, 255, 153, 0.5);
}

.commentaire{
    background-color: rgba(100, 100, 100, 0.3);
} */

/* fin Ex 2 */

/* Ex 3 */
body{
    counter-reset: section;
}

h2{
    margin: 5px 0 10px 5px;
}

input{
    display: block;
    margin: 15px 0;
    padding: 5px;
    width: 75%;
}

label{
    margin: 15px 0;
    display: block;
}

label::before{
    counter-increment: section;
    content: counter(section) "- ";
}

legend{
    border: 2px solid grey;
    margin: 15px;
    padding: 0 5px 10px 10px;
}

fieldset{
    width: 1024px;
    margin: 0 auto;
}

button{
    text-align: center;
    font-size: 32px;
    padding: 20px;
    position: absolute;
    top: 10px;
    left: 140px;
}

.col{
    float: left;
    width: 47%;
    border: 5px dashed rgba(247, 119, 147, 0.795);
    margin: 1%;
}

.clear{
    clear: both;
}

.wrapper{
    float: left;
    width: 47%;
    position: relative;
    height: 100px;
}

.radio_label{
    display: block;
}

.radio{
    display: inline-block;
    margin: 0 0 15px 0;
    width: 80px;
}

.checkbox{
    display: inline;
    margin: 0 5px 15px 15px;
    width: 20px;
}

select{
    margin: 15px 10px;
    font-size: 18px;
}